//---------------------------
//
// Layout
//
//---------------------------

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.hide         { display: none; }

.left { float: left; }
.right { float: right; }