//---------------------------
//
// Base
//
//---------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  padding: 0 0 $line-height__medium 0;

  @media #{$large-up} {
    padding: 0 0 $line-height__base 0;
  }
}