@font-face {
  font-family: 'Noto Kufi Arabic';
  src: font-url( asset-path("Noto_Kufi_Arabic_normal.ttf") );
}

body {
  font-family: $font-family__base;
  font-size: $font-size__base;
  font-weight: $font-weight__light;
  line-height: $line-height__base;
  text-align: right;
  direction: rtl;

  color: $color-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight__light;
  margin: 0 0 $line-height__medium;

  @media #{$medium-down} {
    font-size: $font-size__medium;
  }

  a { text-decoration: none; }
}

a {
  color: $color-brand;
  text-decoration: none;
  transition: $base-transition-speed;

  &:hover { color: $color-base; }
}