//---------------------------
//
// Header
//
//---------------------------

.site-header {
  padding: 1em 0;
  margin-bottom: 3rem;
  background-color: #F54337;

  a { color: #fff; }
}

.logo {
  display: block;
  width: 120px;
}
