//---------------------------
//
// Colors
//
//---------------------------

$color-base: #222222;
$color-base--hover: #7E7E7E;
$brand-color:  #f2132d;

$grey-bg: #FAFAFA;
$border-color: #ECF0F1;

$twitter-brand: #55acee;
$twitter-brand--hover: #1E8BC3;
$facebook-brand: #3b5998;
$google-brand: #dc4e41;
