//---------------------------
//
// Buttons
//
//---------------------------

$button-background-color: #F54337;
$button-background-color--hover: $color-base--hover;

$button-info-background-color: #61b6d9;
$button-info-background-color--hover: #2bb1e4;

$button-success-background-color: #43AC6A;
$button-success-background-color--hover: #368a55;

$button-alert-background-color: #ec5454;
$button-alert-background-color--hover: #e61a1a;

.button {
  display: inline-block;
  text-align: center;
  padding: quarter($line-height__base) half($line-height__base);
  font-family: $font-family__base;
  font-size: $font-size__small;
  line-height: $line-height__medium;
  letter-spacing: 1px;
  border: 0;

  text-decoration: none;
  color: #fff;
  background-color: $button-background-color;
  transition: $base-transition-speed;

  &:active,
  &:focus,
  &:hover {
    color: #fff;
    background-color: $button-background-color--hover;
  }

  &:visited { color: #fff; }

  &.info {
    background-color: $button-info-background-color;

    &:active,
    &:focus,
    &:hover { background-color: $button-info-background-color--hover; }
  }

  &.success {
    background-color: $button-success-background-color;

    &:active,
    &:focus,
    &:hover { background-color: $button-success-background-color--hover; }
  }

  &.alert {
    background-color: $button-alert-background-color;

    &:active,
    &:focus,
    &:hover { background-color: $button-alert-background-color--hover; }
  }

  &.twitter {
    color: #fff;
    background-color: $twitter-brand;

    .icon {
      margin-right: 5px;
      vertical-align: middle;
      fill: #fff;
    }

    &:active,
    &:focus,
    &:hover {
      color: #fff;
      background-color: $twitter-brand--hover;
    }
  }

  &.outline {
    border: 1px solid $color-base;
    background-color: #fff;
    color: $color-base;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
      background-color: $button-background-color;
    }
  }

  &.large {
    padding: half($line-height__base) $line-height__base;
    line-height: $line-height__medium;
    font-size: $font-size__medium;
  }

  &.small {
    padding: quarter($line-height__small) half($line-height__small);
    line-height: $line-height__small;
  }

  &.expand { width: 100%; }
}