//---------------------------
//
// Tables
//
//---------------------------

table,
th,
td { border: 1px solid $border-color; }

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  font-size: $font-size__medium;
  margin-bottom: $line-height__medium;
  table-layout: fixed;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: right;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: $font-weight__bold;
}

td { border-width: 0 1px 1px 0; }

th,
td { padding: quarter($line-height__base); }